* {
  margin: 0;
  padding: 0;
}

.container .BlankSide {
  background-color: transparent;
}

.container .header {
  grid-area: header;
}
.container .jumbotron {
  grid-area: jumbotron;
}
.container .leftBlankSide {
  grid-area: leftBlankSide;
}
.container .main {
  grid-area: main;
}
.container .rightBlankSide {
  grid-area: rightBlankSide;
}
.container .footer {
  grid-area: footer;
}

.container {
  box-sizing: border-box;
  width: 100vw;
  margin: auto;
  display: grid;
  grid-template-columns: 15% 70% 15%;
  gap: 2px;
  grid-template-areas: "header header header" "jumbotron jumbotron jumbotron" "leftBlankSide main rightBlankSide" "footer footer footer";
}

.header {
  background-color: #f03f0d;
}

nav {
  position: relative;
  z-index: 1000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}
nav ul {
  list-style: none;
  font-family: sans-serif;
}
nav ul a {
  text-decoration: none;
}
nav img.gambarHeader {
  width: 200px;
  align-self: center;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav ul a {
  display: inline-block;
  padding: 0.3em;
  font-size: 1.2em;
  color: white;
}
nav ul a:hover {
  background-color: brown;
}
nav ul a:hover div.arrow {
  background-color: brown;
}
nav ul li {
  margin-left: 10px;
}
nav ul li.bundle {
  position: relative;
}
nav ul li.bundle .arrow {
  margin-left: 5px;
  display: inline-block;
  border-top: 10px solid white;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
nav ul li.bundle ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  display: none;
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  background-color: #f03f0d;
}
nav ul li.bundle ul li {
  width: 100%;
}
nav ul li.bundle ul li a {
  background-color: #f03f0d;
  width: 100%;
}
nav ul li.bundle ul li a:hover {
  background-color: brown;
}
nav li.bundle:hover ul {
  display: flex;
}

.container .jumbotron {
  position: relative;
  display: flex;
  height: 400px;
  justify-content: center;
  overflow: hidden;
}
.container .jumbotron img {
  position: absolute;
  top: -450px;
}

.container .main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "visi-misi visi-misi" "main-main mainSidebar";
}
.container .main .visi-misi {
  background-color: rgb(252.2766798419, 215.1976284585, 204.7233201581);
  grid-area: visi-misi;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container .main .visi-misi .boxVisiMisi {
  background-color: #b1b4b4;
  color: white;
  width: 70%;
  margin: 1.5em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1em;
  transition: 0.3s;
}
.container .main .visi-misi .boxVisiMisi:hover {
  transform: scale(1.1);
}
.container .main .visi-misi .boxVisiMisi h3 {
  margin-bottom: 0.5em;
}
.container .main .visi-misi .boxVisiMisi:nth-child(1) {
  margin-top: 3em;
}
.container .main .visi-misi .boxVisiMisi:nth-child(2) {
  margin-bottom: 3em;
}
.container .main .main-main {
  margin-top: 1em;
  margin-bottom: 1em;
  grid-area: main-main;
  background-color: rgb(254.1110671937, 242.0079051383, 238.5889328063);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.container .main .main-main .boxArtikel {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 5px;
  width: 30%;
  height: 200px;
  overflow: hidden;
  transition: 0.3s;
}
.container .main .main-main .boxArtikel:hover {
  transform: scale(1.05);
}
.container .main .main-main .boxArtikel .boxGambar {
  height: 150px;
  overflow: hidden;
}
.container .main .main-main .boxArtikel .boxGambar img {
  width: 100%;
}
.container .main .mainSidebar {
  grid-area: mainSidebar;
  margin-left: 20px;
}/*# sourceMappingURL=index.css.map */