*{
    margin: 0;
    padding: 0;
}
$warnaUtama: #f03f0d; 
.container .BlankSide{
    background-color: transparent;
}

div.container div{
    background-color: $warnaUtama;
}
div{
    border: 1px solid black;
}
.container{
    .header{
        grid-area: header;
    }
    .jumbotron{
        grid-area: jumbotron;
    }
    .leftBlankSide{
        grid-area: leftBlankSide;
    }
    .main{
        grid-area: main;
    }
    .rightBlankSide{
        grid-area: rightBlankSide;
    }
    .footer{
        grid-area: footer;
    }
}
.container{
    box-sizing: border-box;
    width: 100vw;
    margin: auto;
    display: grid;
    grid-template-columns: 15% 70% 15%;
    gap: 2px;
    grid-template-areas: 
    'header header header'
    'jumbotron jumbotron jumbotron'
    'leftBlankSide main rightBlankSide'
    'footer footer footer';
}

// ===========================================================================
@import 'header';
@import 'jumbotron';
@import 'main';